In [1]:
# Importar los módulos necesarios
import spacy
import os
import glob
import json
import re
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [ ]:
# Establecer la conexión a la base de datos MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="juan",
  password="juan",
  database="Practicum"
)

In [ ]:
# Cursor para ejecutar consultas SQL
mycursor = mydb.cursor()

In [ ]:
# Ruta del directorio de textos
dir_path = 'data'

In [ ]:
# Obtener todos los archivos .txt en el directorio
txt_files = glob.glob(os.path.join(dir_path, '*.txt'))

In [ ]:
# Cargar el modelo de spaCy
nlp = spacy.load("es_core_news_sm")

In [ ]:
# Procesar cada archivo de texto
for path in txt_files:
    # Leer el contenido del archivo
    with open(path, 'r', encoding='utf-8') as file:
        texto = file.read()

    doc = nlp(texto)

    # Extraer frases nominales y preparar datos
    datos_sql = []
    for frase in doc.noun_chunks:
        frase_sin_puntuacion = re.sub(r'[^\w\s]', '', frase.text).strip()
        palabras = [token.text for token in frase if not token.is_punct and not token.is_space]
        
        # Insertar la frase en la tabla Archivo y obtener el ID generado
        sql_archivo = "INSERT INTO Archivo (nombre_archivo) VALUES (%s)"
        archivo_values = (os.path.basename(path),)
        mycursor.execute(sql_archivo, archivo_values)
        id_archivo = mycursor.lastrowid
        
        # Insertar la frase en la tabla Frases usando el ID de Archivo
        sql_frase = "INSERT INTO Frases (id_archivo, frase) VALUES (%s, %s)"
        frase_values = (id_archivo, frase_sin_puntuacion)
        mycursor.execute(sql_frase, frase_values)
        id_frase = mycursor.lastrowid
        
        # Insertar las palabras en la tabla Palabras y la relación en Frases_palabras
        for palabra in palabras:
            # Insertar la palabra en la tabla Palabras
            sql_palabra = "INSERT IGNORE INTO Palabras (palabra) VALUES (%s)"
            palabra_values = (palabra,)
            mycursor.execute(sql_palabra, palabra_values)
            id_palabra = mycursor.lastrowid
            
            # Insertar la relación en la tabla Frases_palabras
            sql_relacion = "INSERT INTO Frases_palabras (id_palabra, id_frase) VALUES (%s, %s)"
            relacion_values = (id_palabra, id_frase)
            mycursor.execute(sql_relacion, relacion_values)
        
        # Commit para guardar los cambios de cada archivo
        mydb.commit()

In [ ]:
# Cerrar la conexión al finalizar
mydb.close()